.post--keyword {
    border-radius: 3px;
    color: var(--puma-text-light);
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    line-height: 1.6;
    &s {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    &:hover {
        background-color: #ddd;
    }
}

.postFooterinfo {
    border-top: 1px solid var(--puma-border-color-light);
    padding-bottom: 20px;
    padding-top: 20px;

    .avatar {
        border: 1px solid var(--puma-border-color-light);
        border-radius: 100%;
        padding: 3px;
    }

    .author-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 2px;
    }

    .author-description {
        color: var(--puma-text-gray);
        font-size: 14px;
        line-height: 1.8;
    }

    .author-meta {
        color: var(--puma-text-light);
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }
}
