.post--keyword {
    border-radius: 3px;
    color: var(--text-light-color);
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #f0f0f0;
    line-height: 1.6;
    &s {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
    &:hover {
        background-color: #ddd;
    }

    .puma--dark & {
        color: rgba(255, 255, 255, 0.44);
        background-color: #3c3c3c;
        &:hover {
            background-color: #363636;
        }
    }
}

.postFooterinfo {
    border-top: 1px solid var(--text-border-color);
    padding-bottom: 20px;
    padding-top: 20px;

    .avatar {
        border: 1px solid var(--text-border-color);
        border-radius: 100%;
        padding: 3px;
    }

    .author-name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 2px;
    }

    .author-description {
        color: var(--text-gray-color);
        font-size: 14px;
        line-height: 1.8;
    }

    .author-meta {
        color: var(--text-light-color);
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }

    .puma--dark & {
        border-color: var(--dark-border-color);

        .avatar {
            border-color: var(--dark-border-color);
        }

        .author-meta {
            color: var(--dark-text-ligth);
        }

        .author-description {
            color: var(--dark-text-color);
        }
    }
}
