.post--keyword {
    border-radius: 3px;
    color: var(--puma-text-light);
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--puma-background-gray-light);
    line-height: 1.6;

    &s {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }

    &:hover {
        background-color: var(--puma-background-gray);
    }
}

.post--authorInfo {
    border-top: 1px solid var(--puma-border-color-light);
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatar {
        border: 1px solid var(--puma-border-color-light);
        border-radius: 100%;
        padding: 3px;
    }

    .author--name {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 2px;
        margin-top: 5px;
    }

    .author--description {
        color: var(--puma-text-gray);
        font-size: 14px;
        line-height: 1.8;
    }

    .author--meta {
        color: var(--puma-text-light);
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }
}

.relatedPost {
    padding: 15px 0 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;

    &--title {
        font-size: 14px;
        font-weight: 700;
    }

    &--item {
        line-height: 1.8;

        &__img {
            display: flex;
            align-items: center;

            img {
                width: 100%;
                height: 100px;
                object-fit: cover;
                border-radius: 3px;
            }
        }

        &__title {
            margin-top: 5px;
            font-size: 14px;
            line-height: 1.4;

            &:hover {
                color: var(--puma-hover-color);
            }
        }

        .meta {
            color: var(--puma-text-light);
            font-size: 12px;
        }
    }

    &--status {
        color: var(--puma-text-light);
        font-size: 14px;
        margin-bottom: 20px;

        p {
            line-height: 1.6;
            max-height: 3.2em;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .meta {
            color: var(--puma-text-light);
            font-size: 12px;
        }
    }
}

.post--single {
    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 20px;

        .button--like {
            svg {
                fill: var(--puma-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--puma-hover-color);
                }
            }
        }
    }
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &.is-active {
        svg {
            fill: var(--puma-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }
}

.post--share {
    margin-bottom: 20px;
    svg {
        height: 16px;
        width: 16px;
        fill: var(--puma-text-gray);
        margin-right: 4px;
        flex: 0 0 auto;
    }

    .text {
        flex: 0 0 auto;
    }

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0 15px;
    font-size: 14px;
    color: var(--puma-text-gray);
    line-height: 1.2;

    .link {
        margin-left: 5px;
        border-bottom: 1px dotted var(--puma-hover-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
