.pComment {
    &--area {
        padding-top: 10px;
    }

    &--heroTitle {
        border-bottom: 1px solid var(--puma-border-color-light);
        font-size: 12px;
        font-weight: 700;
        padding: 5px 0;
    }

    &--list {
    }

    &--item {
    }

    &--author {
        font-size: 14px;

        .url {
            color: var(--puma-main-color);
            display: flex;
            align-items: center;

            &:hover {
                color: var(--puma-hover-color);
            }
        }
    }

    &--body {
        padding: 25px 0;
        border-bottom: 1px solid var(--puma-border-color-light);
        position: relative;
    }

    &--header {
        display: flex;
        align-items: center;

        .avatar {
            border-radius: 100%;
            margin-right: 10px;
            transition: all 0.5s ease 0s;
        }

        .comment-reply-link {
            background-color: var(--puma-main-color);
            border-radius: 10px;
            color: var(--puma-background-white);
            font-size: 12px;
            padding: 3px 12px;
            margin-left: auto;
            line-height: 1.5;
            cursor: pointer;

            &:hover {
                background-color: var(--puma-hover-color);
            }
        }
    }

    &--footer {
        font-size: 12px;
        color: var(--puma-text-light);
        padding-top: 5px;
    }

    &--content {
        margin-top: 10px;
        padding-left: 5px;
        font-size: 14px;
    }
}

.comment-navigation {
    padding: 20px 0;
    text-align: center;
}

.comment-reply-title {
    color: var(--puma-text-light);
    font-size: 18px;
}

.children {
    margin-left: 0px;
    padding-bottom: 10px;

    .depth-1 > & {
        margin-left: 50px;
    }

    .avatar {
        width: 36px;
        height: 36px;
    }

    .pComment--body {
        padding: 20px 0;
    }

    .pComment--content {
        font-size: 14px;
    }
}

.comment-respond {
    padding-top: 20px;
}

.comment-reply-title {
    display: flex;
    align-items: center;
    font-size: 14px;

    small {
        margin-left: auto;
        color: #c00;
    }
}

.friend--icon {
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

.comment--parent__link {
    color: var(--puma-main-color);
    margin-right: 4px;
    display: inline-flex;
}

.pingback {
    padding: 25px;
    font-size: 14px;
    border-bottom: 1px solid var(--puma-border-color-light);

    .pingback-content {
        color: var(--puma-text-light);
    }
}
