.site-footer {
    border-top: 1px solid var(--puma-border-color-light);
    color: var(--puma-text-gray);
    font-size: 14px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;

    a {
        &:hover {
            text-decoration: underline;
        }
    }
}

.site--footer {
    &__sns {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: center;
        padding-top: 20px;

        a {
            margin: 0 12px 0 0;
            display: flex;
        }

        svg {
            fill: #fff;
            width: 24px;
            height: 24px;
            opacity: 0.9;

            &:hover {
                fill: var(--puma-hover-color);
            }

            &.sns {
                fill: none;
                stroke: #fff;

                &:hover {
                    stroke: var(--puma-hover-color);
                    fill: none;
                }
            }
        }
    }
}

.fixed--theme {
    position: fixed;
    right: 20px;
    bottom: 50%;
    display: flex;
    height: max-content;
    background-color: var(--puma-background-white);
    border-radius: 0 10px 0 10px;
    width: max-content;
    padding: 3px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 1px var(--puma-border-color);
    border-radius: 999rem;

    span {
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--puma-text-gray-lightest);
        margin-bottom: 5px;

        &:hover {
            color: var(--puma-text-color);
        }

        &.is-active {
            color: var(--puma-text-color);
            background-color: var(--puma-background-gray);
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.backToTop {
    position: fixed;
    right: 60px;
    bottom: 50px;
    cursor: pointer;
    transform: translate3d(200px, 0, 0);
    transition: 0.5s;

    .icon {
        fill: var(--puma-text-gray);
        width: 18px;
        height: 18px;
    }

    &.is-active {
        transform: translate3d(0, 0, 0);
    }

    &:hover {
        .icon {
            fill: var(--puma-main-color);
        }
    }
}
