.required {
    color: #c00;
}

.comment-notes {
    font-size: 14px;
    color: var(--text-light-color);
    .puma--dark & {
        color: var(--dark-text-ligth);
    }
}

.reply {
    position: absolute;
    right: 0;
    top: 20px;
    .comment-reply-link {
        background-color: var(--primary-color);
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        padding: 3px 8px;
    }
    .puma--dark & {
        .comment-reply-link {
            background-color: #cacfd2;
            color: #262626;
        }
    }
}

.comment-navigation {
    padding: 20px 0;
    text-align: center;
}

.comment-reply-title {
    color: var(--text-light-color);
    font-size: 18px;
    .puma--dark & {
        color: var(--dark-text-ligth);
    }
}

.comment-form {
    padding: 20px 0;
    p {
        margin-bottom: 15px;
        &.logged-in-as {
            font-size: 12px;
            color: var(--text-light-color);
        }
    }
    label {
        cursor: pointer;
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
        color: var(--text-gray-color);
    }

    textarea {
        border: 1px solid var(--text-border-color);
        border-radius: 3px;
        box-sizing: border-box;
        padding: 10px;
        resize: none;
        width: 100%;
        font-size: 14px;
        height: 150px;
    }

    .submit {
        background-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        padding: 4px 18px;
        transition: 0.5s;
        &:hover {
            background-color: var(--primary-color);
            color: #fff;
        }
    }

    .comment-form-author input,
    .comment-form-email input,
    .comment-form-url input {
        border: 1px solid var(--text-border-color);
        border-radius: 3px;
        color: var(--text-gray-color);
        font-size: 14px;
        height: 30px;
        padding: 0 10px;
        width: 280px;
    }

    .puma--dark & {
        textarea {
            border-color: var(--dark-border-color);
            background-color: #252627;
            color: var(--dark-text-color);
        }

        .comment-form-author input,
        .comment-form-email input,
        .comment-form-url input {
            border-color: var(--dark-border-color);
            background-color: #252627;
            color: var(--dark-text-color);
        }

        .submit {
            background: #cacfd2;
            border-color: #cacfd2;
            color: #262626;
            &:hover {
                background-color: #cacfd2;
                color: #262626;
            }
        }
    }
}

.comments-title {
    font-size: 12px;
    font-weight: 700;
    padding: 5px 0;
}

.comment-body,
.comments-title {
    border-bottom: 1px solid var(--text-border-color);
    .puma--dark & {
        border-color: var(--dark-border-color);
    }
}

.comment-body {
    padding-bottom: 25px;
    padding-top: 25px;
    position: relative;
}

.comment-meta {
    font-size: 14px;
    overflow: hidden;
    line-height: 1.6;

    .avatar {
        border-radius: 100%;
        float: left;
        margin-right: 10px;
        transition: all 0.5s ease 0s;
    }

    .says {
        display: none;
    }

    .comment-metadata {
        color: var(--text-light-color);
        font-size: 12px;
        font-style: normal;
    }
    .puma--dark & {
        .comment-metadata {
            color: var(--dark-text-ligth);
        }
    }
}

.comment-content {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 14px;
}

.responsesWrapper {
    margin-bottom: 30px;
}
